## **Database creation - Sprint 3**

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("species.db")
conn.execute('''CREATE TABLE SPECIES(ID INTEGER NOT NULL,SPECIES TEXT NOT NULL, GENUS TEXT NOT NULL);''')

# **Pushing all the data into DB**

In [3]:
animals = ['Pangolin Mammal', 'Senenca White Deer Mammal', 'antelope', 'badger', 'bear', 'bison',
 'boar', 'cat', 'chimpanzee', 'cow', 'coyote', 'deer', 'dog', 'donkey',
 'elephant', 'fox', 'goat', 'gorilla', 'hamster', 'hare', 'hedgehog', 'hippopotamus', 'horse', 'hyena',
 'kangaroo', 'koala', 'leopard', 'lion', 'lizard', 'mouse', 'okapi', 'orangutan',
 'otter', 'ox', 'panda', 'pig', 'porcupine', 'possum', 'raccoon', 'rat', 'reindeer', 'rhinoceros',
 'sheep', 'snake', 'squirrel', 'tiger', 'wolf', 'wombat', 'zebra']

for i in range(len(animals)):
    conn.execute(f'''INSERT INTO SPECIES VALUES('{i}','Animals',"{animals[i]}")''')
conn.commit()

In [4]:
birds = ['Great Indian Bustard Bird', 'Spoon Billed Sandpiper Bird', 'bat', 'crow',
 'duck', 'eagle', 'flamingo', 'goose', 'hornbill', 'hummingbird',
 'owl', 'parrot', 'pelecaniformes', 'penguin', 'pigeon', 'sandpiper', 'sparrow',
 'swan', 'turkey', 'woodpecker']

for i in range(len(birds)):
    conn.execute(f'''INSERT INTO SPECIES VALUES('{i}','Birds',"{birds[i]}")''')
conn.commit()

In [5]:
flowers = ['Bluebell', 'Buttercup', 'Coltsfoot', 'Corpse Flower', 'Cowslip', 'Crocus', 'Daffodil',
 'Fritillary', 'Iris', 'Lady Slipper Orchid Flower', 'Lily Valley', 'Pansy', 'Snowdrop',
 'Tigerlily', 'Windflower', 'daisy', 'dandelion', 'rose', 'sunflower', 'tulip']

for i in range(len(flowers)):
    conn.execute(f'''INSERT INTO SPECIES VALUES('{i}','Flowers',"{flowers[i]}")''')
conn.commit()

In [6]:
insects = ['bee', 'beetle', 'butterfly', 'caterpillar', 'cockroach',
 'dragonfly', 'fly', 'grasshopper', 'ladybugs', 'mosquito', 'moth']

for i in range(len(insects)):
    conn.execute(f'''INSERT INTO SPECIES VALUES('{i}','Insects',"{insects[i]}")''')
conn.commit()

In [7]:
leaves = ['Apple Leaf', 'Arrowhead Leaf', 'Bamboo Leaf', 'Banana Leaf', 'Currant Leaf', 'Curry Leaf',
 'Duckpotato Leaf', 'Fig Leaf', 'Gooseberry Leaf', 'Guava Leaf', 'Lemon Leaf', 'Mango Leaf',
 'Mulberry Leaf', 'Papaya Leaf', 'Pine Leaf', 'Raddish Leaf', 'Raspberry Leaf',
 'Rose Leaf', 'Tangerine Leaf', 'Tomato Leaf', 'WaterOak Leaf']

for i in range(len(leaves)):
    conn.execute(f'''INSERT INTO SPECIES VALUES('{i}','Leaves',"{leaves[i]}")''')
conn.commit()

In [8]:
sea = ['Corals', 'Crabs', 'Dolphin', 'Eel', 'Jelly Fish', 'Lobster', 'Nudibranchs', 'Octopus', 'Penguin',
 'Puffers', 'Sea Rays', 'Sea Urchins', 'Seahorse', 'Seal', 'Sharks', 'Squid',
 'Starfish', 'Turtle_Tortoise', 'Whale', 'goldfish', 'oyster']

for i in range(len(sea)):
    conn.execute(f'''INSERT INTO SPECIES VALUES('{i}','Sea Animals',"{sea[i]}")''')
conn.commit()

# **Testing the Database**

In [9]:
id1 = 12
species = "Sea Animals"
cursor = conn.execute(f'''SELECT GENUS FROM SPECIES WHERE SPECIES=="{species}" AND ID=="{id1}"''')
send = cursor.fetchall()[0][0]
print(send)

Seahorse